/* ========== Обнуляющие стили ========== */
@import "_normalize";
@import "_nullstyle";

/* ========== Подключение шрифтов ========== */
@import "_fontsstyle";

/* ========== Глобальные переменные ========== */
@import "_variables";

/* ========== Глобальные стили ========== */
@import "_global";


/* ========== Cтили ========== */
.wrapper {
    width: 100%;
    height: 100%;

    border: 1px solid red;

    font-family: "SFProDisplay Regular", serif;
    font-size: 18px;
    line-height: 22px;
}
.container {
    max-width: 450px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 20px 20px 20px;

    display: flex;
    flex-direction: column;


}
.content {
    flex: 1 1 auto;
}
.question {
    min-height: 100px;
    margin-bottom: 40px;
    text-align: center;
    
}
.answer {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}
.buttons {
    flex: 0 0 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    min-width: 100px;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-radius: 2px;
    transition: 0.05s;
    cursor: pointer;
    user-select: none;
}
.button:active {
    transform: scale(0.95);
}
.green{
    background-color: rgb(27, 175, 27);
}
.red{
    background-color: red;
}
